apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments
  labels:
    app: payments
    team: core-platform
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      containers:
      - name: payments
        image: REPLACE_WITH_ECR_IMAGE
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
