# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# OS / Editor
# =========================
.DS_Store
.idea/
.vscode/

# =========================
# Python tooling
# =========================
.pytest_cache/
.mypy_cache/
ruff_cache/

# =========================
# Terraform
# =========================
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log

# =========================
# Runtime / Generated State
# =========================
app/state/*.json

# =========================
# Logs
# =========================
*.log

# =========================
# Misc
# =========================
*.tmp
*.swp

