apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "nginx-app.fullname" . }}
spec:
  minAvailable: {{ .Values.pdb.minAvailable }}
  selector:
    matchLabels:
      app: nginx

